html,
body {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  @extend %overlay;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas#three-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  canvas.texture-canvas {
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 6.4rem;
    height: 6.4rem;
  }
}